.title a {
    color: #0d6efd;
    /* Color para modo claro (azul más oscuro para contraste) */
    text-decoration: none;
}

[data-bs-theme="dark"] .title a {
    color: lightblue;
    /* Color para modo oscuro */
}

.title img {
    width: 400px;
    height: 400px;
}

@media (max-width: 992px) {
    .title img {
        width: 300px;
        height: 300px;
    }
}

.lang-icon {
    width: 25px;
    height: 25px;
}