body {
    font-family: "Preahvihear", sans-serif;
    font-weight: 400;
    font-style: normal;
}

[data-bs-theme="light"] body {
    background-color: #fff;
    color: #000;
}

[data-bs-theme="dark"] body {
    background-color: #11071F;
    color: #fff;
}

[data-bs-theme="dark"] nav {
    background-color: #1A0B2E !important;
    color: #fff;
}

[data-bs-theme="dark"] .card {
    background-color: #11071F;
    color: #fff;
}

[data-bs-theme="dark"] .card-title {
    color: #fff;
}

[data-bs-theme="dark"] .bg-primary {
    background-color: #693B93 !important;
}

[data-bs-theme="dark"] .btn-primary {
    background-color: #693B93 !important;
    border-color: #693B93 !important;
}

[data-bs-theme="dark"] .btn-primary:hover {
    opacity: 0.8 !important;
}

[data-bs-theme="dark"] .btn-outline-primary {
    border-color: #693B93 !important;
    color: #693B93 !important;
}

[data-bs-theme="dark"] .btn-outline-primary:hover {
    background-color: #693B93 !important;
    color: #fff !important;
}

[data-bs-theme="dark"] footer {
    background-color: #1A0B2E !important;
    color: #fff;
}

.title a {
    color: #0d6efd;
    text-decoration: none;
}

[data-bs-theme="dark"] .title a {
    color: lightblue;
}

.title img {
    width: 400px;
    height: 400px;
}

@media (max-width: 992px) {
    .title img {
        width: 300px;
        height: 300px;
    }
}

.lang-icon {
    width: 25px;
    height: 25px;
}

[data-bs-theme="dark"] .lang-button {
    color: lightblue;
}