@media (min-width: 768px) {
    .index-container {
        height: 100dvh;
    }
}

@media (max-width: 768px) {
    .index-container {
        height: auto;
        padding-top: 8rem;
    }
}

@media (max-width: 576px) {
    .index-container {
        padding-top: 6rem;
    }
}

@media (max-width: 400px) {
    .index-container {
        padding-top: 4rem;
    }
}

@media (max-width: 350px) {
    .index-container {
        padding-top: 8rem;
    }
}